.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: transparent;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6c6b6b56;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: transparent;
}

body:hover::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6c6b6b56;
}

body {
  transition: all 0.3s ease;
}
